<div class="musicContainer" *ngIf="music">
    <div class="musicContainer">
        <div class="item">
            <mat-icon>headphones</mat-icon>
            <span class="title">{{music.title}}</span>
        </div>
        <div class="item">
            <mat-icon>event</mat-icon>
            <span class="content">{{music.createdAt | date : 'medium'}}</span>
        </div>
        <div class="item">
            <mat-icon>groups</mat-icon>
            <span class="content">{{music.rating}}</span>
        </div>
        <div class="item">
            <mat-icon>headset_mic</mat-icon>
            <span class="content">{{music.numberOfListeners}}</span>
        </div>
        <div class="item" *ngIf="displayFavoritesButton()">
            <button mat-button (click)="onClick()">
            <mat-icon >add</mat-icon>
          <span style="color: aliceblue;">favorite</span>
          </button>
        </div>
        <div class="item" *ngIf="!displayFavoritesButton()">
            <mat-icon style="color: red;">favorite</mat-icon>
        </div>
        <div class="item" *ngIf="playlist.length">
            <ngx-audio-player style="flex-direction: row;" [autoPlay]="true" [playlist]="playlist" [disablePositionSlider]="mssapDisablePositionSlider" [displayRepeatControls]="mssapDisplayRepeatControls" [displayVolumeControls]="mssapDisplayVolumeControls" [displayVolumeSlider]="mssapDisplayVolumeSlider"
                [displayTitle]="mssapDisplayTitle" [displayArtist]="music.artist.name" [displayRepeatControls]="true" (trackEnded)="triggerOnEnded($event)">
            </ngx-audio-player>
        </div>
        <div class="item">
            <!-- <mat-icon>person</mat-icon> -->
            <span class="description">{{music.description}}</span>

        </div>

    </div>
    <div class="artistContainer">
        <div class="imageContainer">
            <img [src]="music.artist.image" [alt]="music.artist.name" srcset="">
        </div>
        <div class="">
            <h1 class="title">
                {{music.artist.name}}
            </h1>
        </div>
        <div class="dateAndRating">
            <span>Birth : {{music.artist.dateOfBirth | date : 'dd/MM/YYYY'}}</span>
            <span>rating : {{music.artist.rating}}</span>
        </div>
        <div class="description">{{music.artist.description}}</div>

    </div>
</div>