<app-nav-bar (toggle)="drawer.toggle()" [drawer]="drawer"></app-nav-bar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <div class="iconContainer" [routerLink]="['']">
            <img src="../../../assets/images/logo.png" class="icon" alt="">
        </div>
        <div class="nav-item" [routerLink]="['artists']" routerLinkActive="active">
            <h3>Artists</h3>
        </div>
        <div class="nav-item" [routerLink]="['musics']" routerLinkActive="active">
            <h3>Musics</h3>
        </div>
        <div class="nav-item">
            <h3>Albums</h3>
        </div>
        <div class="nav-item">
            <h3>About Us</h3>
        </div>
    </mat-drawer>

    <div class="app-container">
        <div class="content">
            <img src="../../../assets/images/banner2.jpg" class="banner" alt="">

            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>

</mat-drawer-container>