<div class="container">
    <div class="header">
        <mat-icon style="color: #450275;">headphones</mat-icon>
        <h1 style="margin: 0px;">Music List</h1>
    </div>
    <div class="content-container">
        <!-- <div class="musicCard" *ngFor="let music of musics$ | async">
            <div class="imgContainer" [routerLink]="['view' , music._id]">
                <img [src]="music.artist.image" [alt]="music.artist.name" srcset="">
            </div>
            <div class="">
                <h3>{{music.title}}</h3>
            </div>
            <div class="content-data">
                <h6>{{music.artist.name}}</h6>
                <h6>rating : {{music.rating}}</h6>
            </div>
        </div> -->
    </div>
</div>